<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">About me</a></li>
        <li><a href="/research">Researech</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="https://scholar.google.com/citations?user=iCWcnd4AAAAJ&hl=en">Publications </a></li>
        <li><a href="/Tools">Tools </a></li>
      </ul>
    </nav>

    <div class="container">
      {{content}}
    </div>  
 
  <footer>
    <ul>
      <li><a href="mailto:lcui@vims.com">email</a></li>
      <li><a href="https://github.com/cuill?tab=repositories">github</a></li>
    </ul>
  </footer>

  </body>
</html>

