<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/research">Researech</a>
      <a href="/cv">CV</a>
      <a href="/Publications">Publications </a>
      <a href="/Tools">Tools </a>
    </nav>

  <div class="container">
      {{ content }}
  </div><!-- /.container -->
  
  <footer>
    <ul>
      <li><a href="mailto:lcui@vims.com">email</a></li>
      <li><a href="github:https://github.com/cuill">github.com/cuill</a></li>
    </ul>
  </footer>

  </body>
</html>

