<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/submodel.css">
		</head>
		<body>
                       <h1>{{ Current research }} <h1>
                       <div class="research 1">
                                <h1>Biogeochemistry</h1>
                                <p>Coming soon!</p>
                       </div>
                       <div class="research 2">
                                <h1>Oil-Particle interactions in the ocean</h1>
                                <p>Coming soon!</p>
                       </div>

			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lcui@vims.com">email</a></li>
	        		<li><a href="github:https://github.com/cuill">github.com/cuill</a></li>
				</ul>
			</footer>
		</body>
	</html>

